# MainWeb 輸出檔案 (所有 bin/Debug/net8.0 內的檔案皆忽略)
MainWeb/bin/Debug/net8.0/*

# MainWeb 物件檔 (obj 目錄下所有檔案)
MainWeb/obj/**

# MVC 輸出檔案
MVC/bin/Debug/net8.0/*
# MVC 物件檔
MVC/obj/**

# MVVM 輸出檔案
MVVM/bin/Debug/net8.0/*
# MVVM 物件檔
MVVM/obj/**
